*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: lightblue;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  position: relative;
}
h1 {
  font-family: "Roboto";
  text-align: center;
  font-size: 45px;
  color: #0c1ada;
  margin: 30px 0;
  width: 100%;
}
.btnRetour {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 150px;
  color: lightblue;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 #0c1ada;
  animation: pulse 1.3s infinite;
  font-size: 22px;
  border-radius: 50%;
  background: #0c1ada;
  width: 80px;
  height: 80px;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.01);
  }
}
section {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background: #f1f1f1;
  padding: 30px;
  margin-right: 90px;
  border-radius: 5px;
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.flou {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
